<% include header %>

<h1 class="return"><a href="/">&#060; Return</a></h1>

<h2 class="category">Posts in category: <span><%- categ[id] %></span></h2>
<div class="clear"></div>

<% for (var i = 0; i < items.length; i++) { %>
  <% if (items[i].categ.indexOf(categ[id]) !== -1) { %>
    <section>
        <h2>
          <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
        </h2>
        <img src="/img/<%- items[i].img1 %>" alt="<%- items[i].titel %>">
        <p class="subkop">Year: <%- items[i].date %></p>
        <p class="subkop">Creator: <%- items[i].author %></p>
        <p class="subkop">Category: <%- items[i].categ %></p>

        <p>
          <%- items[i].recap %>
        </p>
    </section>
  <% } %>
<% } %>

<% include footer %>
