<% include header %>

<h1>Museapp</h1>

<nav>
  <h3>Categories</h3>
  <% for (var i = 0; i < categ.length; i++) { %>
    <a class="navcat" href="/categ/<%- i %>"><%- categ[i] %></a>
  <% } %>
</nav>

<% var teller = 1; %>
<% news.forEach(function(item){ %>
  <section>
      <h2>
        <a href=/items/<%- item.id %>><%- item.titel %></a>
      </h2>
      <img class="imgmain" src="/img/<%- item.img1 %>" alt="<%- item.titel %>">
      <p class="subkop">Year: <%- item.date %></p>
      <p class="subkop">Creator: <%- item.author %></p>
      <p class="subkop">Category: <%- item.categ %></p>

      <p>
        <%- item.recap %>
      </p>
  </section>
<% teller++;}); %>

<% include footer %>
